@model Group9_006_iCAREAPP.Models.PatientRecord

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>PatientRecord</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TreatmentId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TreatmentId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PatientName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PatientName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Height)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Height)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Weight)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Weight)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BloodGroup)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BloodGroup)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BedId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BedId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TreatmentArea)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TreatmentArea)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GeoCode.Place)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GeoCode.Place)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Worker.RoleId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Worker.RoleId)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.PatientId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
