@model IEnumerable<Group9_006_iCAREAPP.Models.TreatmentRecord>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    
    
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TreatmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientRecord.TreatmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Worker.RoleId)
            </th>
            <th></th>
        </tr>



        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TreatmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientRecord.TreatmentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Worker.RoleId)
                </td>
                <td>
                    @Html.ActionLink("Drug list", "Data", "DrugDictionaries")
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TreatmentId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TreatmentId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TreatmentId })
                </td>
            </tr>
        }

        @Html.ActionLink("Back to List", "Index")
        

    </table>
</body>
</html>
